html{margin: 0;padding: 0}
body{margin: 0;padding: 0}

.snake{
    display: inline-block;
    position: fixed;
    top: 50px;
    left: 50px;
    width: 10px;
    height: 10px;
    background-color: black;
}

.food{
    display: inline-block;
    position: fixed;
    top: 50px;
    left: 250px;
    width: 10px;
    height: 10px;
    background-color: red;
}
